@import "reset";
@import "core";

$header-font: 'Fjalla One';

/* ==========================================================================
   Base typography, general styles
   ========================================================================== */
html {
  font-size:1.25em
}
body {
  background-color: rgb(46,45,44);
  color:white;
  font-family: 'Open Sans';
  font-size:20px;
  font-weight: 400;
  line-height: 1.45;
  margin:0;
  max-width:100%;
}
p {
  margin-bottom: 1.3em;
}
h1, h2, h3, h4, .h3, .h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
  font-family:$header-font;
  text-transform: uppercase;
}

h1 {
  font-size: 1.953em;
  margin-top: 0;
}
h2 {
  font-size: 1.953em;
}
h3, .h3 {
  font-size: 1.563em;
}
h4, .h4 {
  font-size: 1.25em;
}
h5 {
  font-size: 1.25em;
}
@media screen and (min-width: 576px) {
  h1 {
    font-size: 2.441em;
    margin-top: 0;
  }
  h2 {
    font-size: 1.953em;
  }
  h3, .h3 {
    font-size: 1.563em;
  }
  h4, .h4 {
    font-size: 1.25em;
  }
  h5 {
    font-size: 1.25em;
  }
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 3.052em;
    margin-top: 0;
  }
  h2 {
    font-size: 2.441em;
  }
  h3, .h3 {
    font-size: 1.953em;
  }
  h4, .h4 {
    font-size: 1.563em;
  }
  h5 {
    font-size: 1.25em;
  }
}

small, .font_small {
  font-size: 0.8em;
}

img {
  max-width:100%;
  height:auto;
}
table {
  text-align: left;
  border-collapse: collapse;
  font-size:0.8em;
  margin: 0 auto;
  td, th {
    border:1px solid white;
    padding:0.8em;
  }
  td:first-child {
    text-transform: uppercase;
    text-align: right;
  }
  h4 {
    margin:0;
  }
}
a {
  text-transform: uppercase;
  text-decoration: none;
  color:white;
  &:hover {
    color:orange;
  }
}
/* ==========================================================================
  Layout and design
   ========================================================================= */
nav {
  width:100%;
  max-width:100%;
  z-index:200;
  padding:0;
  margin:0;
  @media screen and (min-width: 767px) {
    background-color: black;
    transform:translateY(0);
    transition: transform 0.5s ease-out;
    padding:0.8rem 0;
    position: fixed;
    top:0;
  }
  &.hide {
    @media screen and (min-width: 767px) {
      transform:translateY(-100%);
    }
  }
  .container {
    margin:0 auto;
    flex-direction: column;
    justify-content: center;
    background-color:black;
    text-align: center;
    top:0;
    bottom:0;
    left:0;
    right:0;
    position: relative;
    opacity:0;
    display:none;
    @media screen and (max-width: 767px) {
      height:100vh;
      width:100vw;
      margin:0;
      padding:0;
    }
    @media screen and (min-width: 768px) {
      flex-direction: row;
      background-color: transparent;
      justify-content: space-between;
      display: flex;
      opacity:1;
    }
  }
  a {
    font-size:1.563rem;
    font-family:$header-font;
    @media screen and (min-width: 576px) {
      font-size:1rem;
    }
    @media screen and (min-width: 768px) {
      font-size:1.25rem;
      width: calc(45vw / 3);
    }
    @media screen and (min-width: 992px) {
      font-size:1.563rem;
    }
  }
  .logo_holder {
    min-width:10vw;
    .crooked_logo {
        display:none;
        @media screen and (min-width: 768px) {
          position: fixed;
          top: 20vh;
          width: 30vw;
          display: block;
          left: 35vw;
          transform-origin: center center;
        }
    }
  }
  .fa {
    position:fixed;
    top:0;
    right:0;
    color:white;
    z-index:202;
    display: block;
    font-size:2em;
    padding:1em;
    cursor:pointer;
    @media screen and (min-width: 768px) {
      display:none;
    }
  }
  &.open {
    .container {
      z-index:201;
      display:flex;
      position: fixed;
      animation: mobile-menu 0.5s ease-in 0s both;
    }
    .fa::before {
      content:"\f00d";
    }
  }
}
.crooked_logo_mobile {
  position: fixed;
  top: 1em;
  left:1rem;
  width: 30vw;
  z-index:202;
  @media screen and (min-width: 768px) {
    display:none;
  }
}
@keyframes mobile-menu {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
header {
  height:100vh;
  width:100%;
  background-color:#656565;
  transform-origin: center 50%;
  max-width:100%;
  overflow:hidden;
}
.ie11wrap {
    text-align: center;
    position: relative;
    z-index:102;
}
main {
    text-align: center;
    position: relative;
    z-index:101;
    section {
      margin-bottom:4rem;
    }
}
.explore-button {
  border:1px solid white;
  text-transform: uppercase;
  display: inline-block;
  padding:1rem;
  a {
    color:white;
    text-decoration: none;
  }
  span {
    font-weight:bold;
  }
}

#welcome {
  h2{
    font-size: 1.563em;
    position: relative;
    margin-bottom:4rem;
    @media screen and (min-width: 576px) {
      font-size: 2.441em;
    }
    &:after {
      position:absolute;
      bottom:-3rem;
      left:0;
      width:100%;
      text-align: center;
      content: '-';
    }
  }
  p:first-of-type{
    font-size:1.25em;
    margin-top:0;
  }
}
.default {
  .introduction {
    @media screen and (min-width: 768px) {
      -moz-column-count: 2;
      -webkit-column-count: 2;
      column-count: 2;
      text-align:left;
    }
  }
}
#social {
  i {
    font-size:1.563rem;
    padding:0.5rem;
  }
  .post {
    background-color:white;
    color:black;
    text-align: left;
    //Simulate a gutter
    border:0.5rem solid black;
    h4 {
      position: relative;
      padding-bottom:0.5em;
      &::after{
        content: '';
        background-color:black;
        position: absolute;
        left:0;
        bottom:0;
        height:0.125em;
        width:1em;
      }
    }
    img {
      width:100%;
      object-fit: cover;
      padding-bottom:15px;
    }
  }
}
#wholesale, #stockists {
  .logo {
    margin-top:2rem;
  }
  margin-bottom:0;
}
#products {
  .row {
    flex-direction: column;
    text-align: center;
    margin-bottom:3rem;
    align-items: center;
    @media screen and (min-width: 576px) {
      flex-direction: row;
      text-align: left;
      &:nth-of-type(odd) {
        text-align: right;
        flex-direction: row-reverse;
      }
    }
  }
  .explore-button {
    text-align: center;
  }
}

#contact {
  label {
    text-align: left;
    @media screen and (min-width: 576px) {
      text-align:right;
    }
  }
  input:not([type=submit]), textarea {
    width:100%;
    background-color:transparent;
    border:2px white solid;
    padding: 0.5em;
    color: white;
    margin:0;
  }
  input[type=submit] {
    background-color:transparent;
    border:2px white solid;
    padding: 0.5em;
    color: white;
    align-self:flex-end;
  }
}

#the_cans {
  .can {
    display: flex;
    flex-direction: row;
    margin: 0 15px 30px;
    justify-content: space-around;
    align-items: center;
    &:nth-child(even) {
      flex-direction: row-reverse;
    }
    @media screen and (min-width: 576px) {
      display: block;
      margin:0;
      &:nth-child(even) {
        flex-direction: row;
      }
    }
    img {
      transform: translate(0, 0);
      left:0;
      top:0;
      width:100%;
      position:relative;
    }
  }
  .image {
    flex-basis:40%;
    @media screen and (min-width: 576px) {
      flex-basis:auto;
    }
  }
  .explore-button {
    flex-basis:40%;
    @media screen and (min-width: 576px) {
      flex-basis:auto;
      margin-top:1rem;
    }
  }
}
#the_cans, #products {
  .world_info {
    display:none;
    opacity:0;
    padding:0 15px;
    text-align: center;
    transition:opacity 1s;
    p, h3 {
      margin:0 auto;
      width:50%;
    }
    :first-child {
      top:1.5rem;
      opacity:0;
      position: relative;
      transition:all 1s linear 0s;
    }
    :nth-child(2) {
      top:1.5rem;
      opacity:0;
      position: relative;
      transition:all 1s linear 0.5s;
    }
    :nth-child(3) {
      top:1.5rem;
      opacity:0;
      position: relative;
      transition:all 1s linear 0.75s;
    }
    .loading {
      top:1.5rem;
      margin-top:2em;
      opacity:0;
      position: relative;
      transition:all 1s linear 1.25s;
    }
  }
}
footer {
  display:flex;
  flex-direction: row;
  align-items: center;
  padding-top:9rem;
  font-family:$header-font;
  letter-spacing: 0.1em;
  z-index: 101;
  .row {
    width:100%;
  }
  .footer-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-grow: 1;;
    justify-content: space-between;
    @media screen and (min-width: 992px) {
      &:first-of-type{
        text-align: center;
      }
    }
    //Special breakpoint for footer
    @media screen and (min-width: 1570px) {
      width:initial;
      justify-content:center;
      &:first-of-type{
        justify-content: flex-start;
        text-align: left;
      }
      &:last-of-type{
        justify-content: flex-end;
      }
    }
    &:first-of-type{
      flex-grow: 2;
    }
  }
  a {
    text-decoration: none;
    color:white;
  }
  h3 {
    margin:0.5rem 0.5rem 0.5rem 0;
    @media screen and (min-width: 1570px) {
      padding-right:0.5em;
    }
  }
  .footer-copy {
    font-size:0.64em;
    text-align:right;
    @media screen and (min-width: 992px) {
      text-align: left;
    }
    span {
      width:100%;
      display: block;
    }
  }
  @media screen and (min-width: 992px) and (max-width: 1569px){
    .footer-box {
      &:first-child{
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        h3 {
          width:100%;
        }
      }
      &:nth-child(2){
        justify-content: flex-start;
      }
      &:nth-child(3){
        justify-content: flex-start;
        flex-direction: row-reverse;
        h3 {
          margin:0.5rem 0 0.5rem 0.5rem;
        }
        .footer-copy {
          text-align: right;
        }
      }
      &:last-child{
        h3 {
          display:none;
        }
        .footer-copy {
          width:100%;
        }
        span {
          width:50%;
          display:inline;
          &:last-child{
            float:right;
            text-align: right;
          }
        }
      }
    }
  }
  i {
    margin-left: 1rem;
    @media screen and (min-width: 1570px) {
      &:first-of-type{
        margin-left:0;
      }
    }
  }
  .email a {
    content: 'test';
  }
}

/* ==========================================================================
  World work
  Z index:
  - Sky shadows: 10 to 14
  - Sun: 15
  - Clouds: 15 to 30
  - Ground: 30+
   ========================================================================= */
header {
  overflow:hidden;
  z-index: 99;
  position: relative;
  max-width:100%;
  img {
      position: absolute;
      will-change: transform;
  }
}
.sprite {
  display: block;
  width:100vw;
  height:75vw;
  position: absolute;
  animation: sprite 0.3s steps(15) infinite;
}
@keyframes sprite {
  100% {
    background-position: -15000px;
  }
}

$sun_colour: #b9b9b9;
$sunrise_timing: 5s;
#sun img {
  left:35vw;
  bottom:0;
  transform:translateY(100%);
  width:30vw;
  z-index:14;
  border-radius: 50%;
  box-shadow: 0 0 40px 6px $sun_colour, 0 0 150px 90px $sun_colour;
  background-color: $sun_colour;
  opacity:0;
  transition: transform $sunrise_timing, opacity 0.5s linear 0.5s;
}
.sunrise {
  #sun img {
    transform:translateY(0%);
    opacity:1;
    box-shadow: 0 0 40px 6px $sun_colour, 0 0 150px 20px $sun_colour;
    animation: sun_shimmer 30s infinite;
  }
}

.daytime {
  #sun img {
    transition: opacity 0.5s linear 0.5s;
  }
}

#sky_shadow_top img {
  left:0;
  top:0;
  z-index:10;
  opacity:0;
  transition:opacity (($sunrise_timing / 10) * 3) linear (($sunrise_timing / 10) * 2);
}
#sky_shadow_small img {
  right:0;
  top:30%;
  z-index:11;
  opacity:0;
  transition:opacity (($sunrise_timing / 10) * 3) linear (($sunrise_timing / 10) * 2);
  animation:float-reverse 15s infinite;
}
#sky_shadow_low img {
  right:0;
  top:50%;
  z-index:12;
  opacity:0;
  transition:opacity (($sunrise_timing / 10) * 3) linear (($sunrise_timing / 10) * 2);
  animation:float-reverse 25s infinite;
}
.sunrise {
  #sky_shadow_top img {
    opacity:1;
  }
  #sky_shadow_small img {
    opacity:1;
  }
  #sky_shadow_low img {
    opacity:1;
  }
}
.daytime {
  #sky_shadow_top img, #sky_shadow_small img, #sky_shadow_low img {
    transition: none;
  }
}

#cloud_one img {
  right:105%;
  top:10%;
  z-index:15;
  transition: all 30s linear 0s;
}
#cloud_two img {
  right:110%;
  top:50%;
  z-index:16;
  transition: all 50s linear 5s;
}
//Long cloud
#cloud_three img {
  left:0%;
  top:20%;
  z-index:17;
  max-width:none;
  width:150vw;
  animation: longcloud_float 60s infinite;
  opacity:0;
  transition:opacity (($sunrise_timing / 10) * 3) linear (($sunrise_timing / 10) * 2);
}
#cloud_four img {
  left:105%;
  top:40%;
  z-index:18;
  transition: all 60s ease 10s;
}
#cloud_five img {
  left:110%;
  top:60%;
  z-index:19;
  transition: all 40s linear 3s;
}
.sunrise {
  #cloud_three img {
    opacity:1;
  }
}
.daytime {
    #cloud_one img {
      right:-50%;
      transition:right 40s linear 3s;
    }
    #cloud_two img {
      right:-50%;
      transition:right 40s linear 3s;
    }
    #cloud_three img {
      transition:opacity (($sunrise_timing / 10) * 3) linear (($sunrise_timing / 10) * 2), left (($sunrise_timing / 10) * 3) linear (($sunrise_timing / 10) * 2);
    }
    #cloud_four img {
      left:-10%;
      transition:left 40s linear 3s;
    }
    #cloud_five img {
      left:100%;
      transition:left 40s linear 3s;
    }
}
#hill_one img {
  left:0;
  bottom:0;
  width:100%;
  z-index:34;
  transform:scale(1) translateY(0%);
  transition:transform 0.5s ease-in 2s;
}
#hill_two img {
  left:0;
  bottom:0;
  width:100%;
  z-index:33;
  transform:scale(1) translateY(0%);
  transition:transform 0.5s ease-in 1.5s;
}
#hill_three img {
  left:0;
  bottom:0;
  width:100%;
  z-index:32;
  transform:scale(1) translateY(0%);
  transition:transform 1s ease-in 1s;
}
#hill_four img {
  left:0;
  bottom:0;
  width:100%;
  z-index:31;
  transform:scale(1) translateY(0%);
  transition:transform 1.5s ease-in 0.5s;
}
#hill_rear img {
  left:0;
  bottom:0;
  width:100%;
  z-index:30;
  transform:scale(1) translateY(0%);
  transition:transform 2s ease-in 0s;
}
.daytime {
  #hill_one img, #hill_two img, #hill_three img, #hill_four img, #hill_rear img {
    transition:none;
  }
}
body:not(.sunrise) {
  #hill_one img,
  #hill_two img,
  #hill_three img,
  #hill_four img,
  #hill_rear img {
    transform:scale(2) translateY(100%);
  }
}


#tree_one img {
  left:5%;
  bottom:3vw;
  z-index:34;
  opacity:0;
  transform:translateY(100%) scale(0.8);
  transition:all 1s cubic-bezier(0,.88,.96,0) ($sunrise-timing - 1s);
}
#tree_two img {
  right:0%;
  bottom:7vw;
  z-index:34;
  opacity:0;
  transform:translateY(100%) scale(0.8);
  transition:all 1s cubic-bezier(.74,1,.6,.01) ($sunrise-timing - 1s);
}
.sunrise {
  #tree_one img {
    transform: translateY(0%) scale(0.8);
    opacity:1;
  }
  #tree_two img {
    transform: translateY(0%) scale(0.8);
    opacity:1;
  }
}
.daytime {
  #tree_one img {
    transition:none;
  }
  #tree_two img {
    transition:none;
  }
}
/* ==========================================================================
  Dayglo skies elements
   ========================================================================= */
#dayglo_base img {
  left:0;
  bottom:0;
  width:100%;
  z-index:19;
}
$sun_colour_dayglo: #96c11f;
#dayglo_sun img {
  left:50%;
  bottom:0;
  transform: translateX(-50%);
  max-width:30%;
  z-index:14;
  border-radius: 50%;
  box-shadow: 0 0 40px 6px $sun_colour_dayglo, 0 0 150px 90px $sun_colour_dayglo;
  background-color: $sun_colour_dayglo;
  animation: sun_shimmer_dayglo 30s infinite;
}
#dayglo_heads img {
  right:0;
  bottom:5vh;
  max-width:50vw;
  z-index:50;
}
#dayglo_fruit img {
  left:0;
  bottom:5vh;
  max-width:30vw;
  z-index:51;
}
#dayglo_sky_shadow_one img {
  top:15%;
  right:-5%;
  max-width:70vw;
  z-index:11;
}
#dayglo_sky_shadow_two img {
  left:-5%;
  top:0;
  max-width:70vw;
  z-index:10;
}
#dayglo_clouds_bulk_one img {
  top:10%;
  left:100%;
  width:100%;
  z-index:40;
  animation: clouds_left_dayglo 120s infinite;
}
#dayglo_clouds_bulk_two img {
  top:25%;
  right:100%;
  width:100%;
  z-index:41;
  animation: clouds_right_dayglo 120s infinite -7s;
}
#dayglo_clouds_bulk_three img {
  top:30%;
  left:100%;
  width:100%;
  z-index:42;
  animation: clouds_left_dayglo 120s infinite -11s;
}
#dayglo_clouds_bulk_four img {
  top:10%;
  right:100%;
  width:100%;
  z-index:43;
  animation: clouds_right_dayglo 120s infinite -23s;
}
#dayglo_clouds_bulk_five img {
  top:25%;
  left:100%;
  width:100%;
  z-index:44;
  animation: clouds_left_dayglo 120s infinite -25s;
}
#dayglo_clouds_bulk_six img {
  top:30%;
  right:100%;
  width:100%;
  z-index:45;
  animation: clouds_right_dayglo 120s infinite -37s;
}
#dayglo_clouds_bulk_seven img {
  top:20%;
  left:100%;
  width:100%;
  z-index:46;
  animation: clouds_left_dayglo 120s infinite -30s;
}
#dayglo_cloud_low_one img {
  bottom:18%;
  right:20%;
  max-width:30%;
  z-index:47;
}
#dayglo_cloud_low_two img {
  bottom:10%;
  left:35%;
  max-width:40%;
  z-index:48;
}
#dayglo_cloud_low_three img {
  bottom:25%;
  left:15%;
  max-width:30%;
  z-index:49;
}
#dayglo_cloud_low_four img {
  bottom:5%;
  left:20%;
  max-width:30%;
  z-index:50;
}
@keyframes clouds_left_dayglo {
  0% {
    transform:scaleX(1) translateX(0);
  }
  49% {
    transform:scaleX(1) translateX(-200%);
  }
  50% {
    transform:scaleX(1) translateX(-200%);
    visibility:hidden;
  }
  51% {
    transform:scaleX(-1) translateX(200%);
    visibility:hidden;
  }
  52% {
    transform:scaleX(-1) translateX(200%);
    visibility:visible;
  }
  96% {
    transform:scaleX(-1) translateX(-0%);
  }
  97% {
    transform:scaleX(-1) translateX(-0%);
    visibility:hidden;
  }
  98% {
    transform:scaleX(1) translateX(0%);
    visibility:hidden;
  }
  99% {
    transform:scaleX(1) translateX(0%);
    visibility:visible;
  }
  100% {
    transform:scaleX(1) translateX(0%);
  }
}
@keyframes clouds_right_dayglo {
  0% {
    transform:scaleX(1) translateX(0);
  }
  49% {
    transform:scaleX(1) translateX(200%);
  }
  50% {
    transform:scaleX(1) translateX(200%);
    visibility:hidden;
  }
  51% {
    transform:scaleX(-1) translateX(-200%);
    visibility:hidden;
  }
  52% {
    transform:scaleX(-1) translateX(-200%);
    visibility:visible;
  }
  96% {
    transform:scaleX(-1) translateX(0%);
  }
  97% {
    transform:scaleX(-1) translateX(0%);
    visibility:hidden;
  }
  98% {
    transform:scaleX(1) translateX(0%);
    visibility:hidden;
  }
  99% {
    transform:scaleX(1) translateX(0%);
    visibility:visible;
  }
  100% {
    transform:scaleX(1) translateX(0%);
  }
}
@keyframes sun_shimmer_dayglo {
  0% {
    box-shadow: 0 0 40px 6px $sun_colour_dayglo, 0 0 150px 10px $sun_colour_dayglo;
    background-color:$sun_colour_dayglo;
  }
  25% {
    box-shadow: 0 0 40px 6px $sun_colour_dayglo, 0 0 150px 70px $sun_colour_dayglo;
    background-color:darken($sun_colour_dayglo, 5%);
  }
  50% {
    box-shadow: 0 0 40px 6px $sun_colour_dayglo, 0 0 150px 10px $sun_colour_dayglo;
    background-color:$sun_colour_dayglo;
  }
  75% {
    box-shadow: 0 0 40px 6px $sun_colour_dayglo, 0 0 130px 50px $sun_colour_dayglo;
    background-color:darken($sun_colour_dayglo, 5%);
  }
  100% {
    box-shadow: 0 0 40px 6px $sun_colour_dayglo, 0 0 150px 10px $sun_colour_dayglo;
    background-color:$sun_colour_dayglo;
  }
}

/* ==========================================================================
  Midnight Stage elements
   ========================================================================= */
$midnight-bg: rgba(135,49,154,1);
$horizon-base-ratio: ((100vw / 240) * 37);
$horizon-ratio: $horizon-base-ratio - ($horizon-base-ratio / 10);
#midnight_base img {
  left:0;
  bottom:0;
  width:100%;
  z-index:34;
  transform:scale(1) translateY(0%);
  transition:transform 0.5s ease-in 2s;
}
#midnight_base_two img {
  left:0;
  bottom:0;
  width:100%;
  z-index:35;
  transform:scale(1) translateY(0%);
  transition:transform 0.5s ease-in 2s;
}
#midnight_sun img {
  right:20vw;
  bottom:$horizon-ratio;
  transform:translateY(100%);
  max-width:40vw;
  z-index:20;
  opacity:0;
  transition: transform $sunrise_timing, opacity 0.5s linear 0.5s;
}
.sunrise {
  #midnight_sun img {
    transform:translateY(10%);
    opacity:1;
  }
}
.daytime {
  #midnight_sun img, #midnight_base img, #midnight_base_two img {
    transition:none;
  }
}
#midnight_hill_one img {
  left:-5vw;
  bottom:$horizon-base-ratio;
  width:30vw;
  z-index:37;
}
#midnight_hill_two img {
  left:5vw;
  bottom:$horizon-ratio;
  width:30vw;
  z-index:32;
}
#midnight_hill_three img {
  left:20vw;
  bottom:$horizon-base-ratio;
  width:20vw;
  z-index:33;
}
#midnight_hill_four img {
  left:80vw;
  bottom:$horizon-base-ratio;
  width:30vw;
  z-index:33;
}
#midnight_sky_shadow_top img {
  left:-25vw;
  width:150vw;
  bottom:100%;
  z-index:10;
  max-width:none;
  opacity:0;
  animation:float-reverse 20s infinite;
  transform:translateY(100%);
  transition:opacity (($sunrise_timing / 10) * 3) linear (($sunrise_timing / 10) * 2);
}
#midnight_sky_shadow_low img {
  left:0;
  max-width:none;
  width:150%;
  bottom:70%;
  z-index:12;
  opacity:0;
  transition:opacity (($sunrise_timing / 10) * 3) linear (($sunrise_timing / 10) * 2);
  animation:float 25s infinite;
}
.sunrise {
  #midnight_sky_shadow_top img {
    opacity:1;
  }
  #midnight_sky_shadow_small img {
    opacity:1;
  }
  #midnight_sky_shadow_low img {
    opacity:1;
  }
}
.daytime {
  #midnight_sky_shadow_low img, #midnight_sky_shadow_top img {
    transition:none;
  }
}

#midnight_cloud_one img {
  right:-10vw;
  bottom:90%;
  max-width:none;
  width:120vw;
  z-index:15;
  animation: midnight_cloud_float 60s infinite -30s;
  transition: all 30s linear 0s;
}
#midnight_cloud_two img {
  right:-10vw;
  width:120vw;
  bottom:85%;
  max-width:none;
  z-index:16;
  transition: all 50s linear 5s;
  animation: midnight_cloud_float 60s infinite;
}
//Long cloud
#midnight_cloud_three img {
  right:-10vw;
  width:120vw;
  bottom:80%;
  max-width:none;
  z-index:17;
  width:150vw;
  animation: midnight_cloud_float 60s infinite -3s;
  opacity:0;
  transition:opacity (($sunrise_timing / 10) * 3) linear (($sunrise_timing / 10) * 2);
}
#midnight_cloud_four img {
  right:-10vw;
  width:120vw;
  bottom:70%;
  max-width:none;
  z-index:18;
  animation: midnight_cloud_float 60s infinite -10s;
  transition: all 60s ease 10s;
}
#midnight_cloud_five img {
  right:-10vw;
  width:120vw;
  bottom:60%;
  max-width:none;
  z-index:19;
  animation: midnight_cloud_float 60s infinite -45s;
  transition: all 40s linear 3s;
}
.daytime {
  #midnight_cloud_one img {
    transition: right 30s linear 0s;
  }
  #midnight_cloud_two img {
    transition: right 50s linear 5s;
  }
  #midnight_cloud_three img {
    transition:opacity (($sunrise_timing / 10) * 3) linear (($sunrise_timing / 10) * 2);
  }
  #midnight_cloud_four img {
    transition: right 60s ease 10s;
  }
  #midnight_cloud_five img {
    transition: right 40s linear 3s;
  }
}
#midnight_creature img {
  right:10vw;
  z-index:41;
  width:60vw;
  bottom:calc(#{$horizon-ratio} - 2vh);
}
#midnight_tree_one img {
  left:25vw;
  bottom:$horizon-ratio - ($horizon-ratio / 3);
  height:50vh;
  z-index:40;
  opacity:1;
  transition:all 1s cubic-bezier(0,.88,.96,0) 0s;
}
#midnight_tree_two img {
  left:75vw;
  bottom:$horizon-ratio - ($horizon-ratio / 4);
  z-index:41;
  height:45vh;
  opacity:1;
  transition:transform 1s cubic-bezier(.74,1,.6,.01) 0.7s;
}
.daytime {
  #midnight_tree_one img {
    transition:none;
  }
  #midnight_tree_two img {
    transition:none;
  }
}
#midnight_rocks img {
  left:25vw;
  bottom:$horizon-ratio;
  z-index:37;
  width:10vw;
}

#midnight_fruit img {
  left:45vw;
  bottom:$horizon-ratio - ($horizon-ratio / 1.5);
  z-index:43;
  width:15vw;
}
#midnight_oranges img {
  left:0;
  bottom:0;
  z-index:43;
  width:20vw;
}
#midnight_oranges_two img {
  left:65vw;
  bottom:$horizon-ratio - ($horizon-ratio / 4);
  z-index:41;
  width:10vw;
}
@keyframes midnight_cloud_float {
  0% {
    right:-10vw;
  }
  40% {
    right:0vw;
  }
  60% {
    right:0vw;
  }
  90% {
    right:-20vw;
  }
  100% {
    right:-10vw;
  }
}
/* ==========================================================================
  Mother Moon
   ========================================================================= */
#mother_sun img {
  right:20vw;
  bottom:45vh;
  width:20vw;
  z-index:20;
}
#mother_hill_one img {
  left:0;
  bottom:0;
  width:66vw;
  z-index:37;
}
#mother_hill_two img {
  left: -5vw;
  bottom: -25vw;
  width: 45vw;
  z-index:36;
}
#mother_hill_three img {
  left:20vw;
  bottom:0vw;
  width:40vw;
  z-index:35;
}
#mother_hill_four img {
  right:-30vw;
  bottom:-40vw;
  width:100vw;
  z-index:33;
}
#mother_sea img {
  left:-10vw;
  bottom:-10vw;
  width:60vw;
  z-index:34;
}
#mother_mother img {
  right:0vw;
  bottom:35vh;
  width:60vw;
  z-index:36;
  animation: mother_float 10s infinite linear;
}
@keyframes mother_float {
  0% {
    transform: translateY(0vh);
  }
  25% {
    transform: translateY(-2vh);
  }
  75% {
    transform: translateY(2vh);
  }
  100% {
    transform: translateY(0vh);
  }
}

@mixin mother_person($bottom: 0vw, $left: 0vw, $z: 42) {
  z-index:$z;
  height:7vw;
  bottom:calc(15vw + #{$bottom});
  left:calc(35vw + #{$left});
  animation: person_jump 27s linear ($sunrise-timing + (1s * ($z - 42))) infinite;
}
#mother_person_one img {
  @include mother_person;
}
#mother_person_two img {
  @include mother_person(-3vw, -6vw, 43);
}
#mother_person_three img {
  @include mother_person(-4vw, -2vw, 44);
}
#mother_person_four img {
  @include mother_person(-4vw, 2vw, 45);
}
#mother_person_five img {
  @include mother_person(-5vw, -10vw, 46);
}
#mother_person_six img {
  @include mother_person(-7vw, -7vw, 47);
}
#mother_person_seven img {
  @include mother_person(-8vw, -4vw, 49);
}
#mother_person_eight img {
  @include mother_person(-11vw, -1vw, 50);
}
#mother_person_nine img {
  @include mother_person(-8vw, 3vw, 48);
}
@keyframes person_jump {
  0% {
    transform:translateY(0vw);
  }
  4% {
    transform:translateY(0vw);
  }
  5% {
    transform:translateY(1vw);
  }
  6% {
    transform:translateY(0vw);
  }
  64% {
    transform:translateY(0vw);
  }
  65% {
    transform:translateY(1vw);
  }
  66% {
    transform:translateY(0vw);
  }
  100% {
    transform:translateY(0vw);
  }
}
@mixin sky_shadow($bottom: 100vh, $left: -10vw) {
  z-index:10;
  left:$left;
  max-width:none;
  width:120vw;
  bottom:$bottom;
}
#mother_sky_shadow_top img {
  @include sky_shadow(90vh);
}
#mother_sky_shadow_two img {
  @include sky_shadow(75vh, -20vw);
}
#mother_sky_shadow_three img {
  @include sky_shadow(50vh);
}
#mother_sky_shadow_four img {
  @include sky_shadow(15vh);
}

@mixin mother_cloud($bottom: 100vh, $left: -10vw) {
  z-index:10;
  left:$left;
  max-width:none;
  width:120vw;
  bottom:$bottom;
  opacity:0.6;
  animation: cloud_opacity 13s linear (-1s * random(100)) infinite;
  filter:blur(0px);
}
#mother_cloud_one img {
  @include mother_cloud(85vh);
}
#mother_cloud_two img {
  @include mother_cloud(60vh);
}
#mother_cloud_three img {
  @include mother_cloud(50vh);
}
#mother_cloud_four img {
  @include mother_cloud(15vh);
}
#mother_cloud_five img {
  @include mother_cloud(5vh);
}
@keyframes cloud_opacity {
  0% {
    opacity:0.8;
    filter:blur(0px);
  }
  40% {
    opacity:0.7;
    filter:blur(1px);
  }
  62% {
    opacity:0.6;
    filter:blur(0px);
  }
  92% {
    opacity:0.75;
    filter:blur(2px);
  }
  100% {
    opacity:0.8;
    filter:blur(0px);
  }
}

//Portrait special styles here
@media all and (orientation: portrait) {
  .landscape_only {
    display:none !important;
  }
  //Overwrite the intro movement
  header {
    height:90vh !important;
    margin-top:0 !important;
    transform:none !important;
  }
  nav.hide {
    transform: translateY(0%);
  }
  #sun img {
    width:60%;
    bottom:0;
    left:20%;
  }
  #hill_one img {
    width:100%;
    bottom:0;
    left:0;
  }
  #hill_two img {
    width:100%;
    bottom:0;
    left:0;
  }
  #hill_three img {
    width:100%;
    bottom:0;
    left:0;
  }
  #hill_four img {
    width:100%;
    bottom:0;
    left:0;
  }
  #sky_shadow_top img {
    width:200%;
    max-width:none;
    top:0;
    left:0;
  }
  #sky_shadow_low img {
    width:200%;
    max-width:none;
    top:30%;
    right:0;
  }
  #cloud_four img {
    width:80%;
    top:50%;
    z-index: 18;
    right:0;
    opacity: 0;
    left:initial !important;
    animation:float-reverse 4s infinite;
    transition: opacity 1.5s linear 1s;
  }
  .sunrise {
    #cloud_four img {
      opacity:1;
    }
  }
  #dayglo_base img {
    bottom:0;
    width:100%;
    z-index:50;
  }
  #dayglo_sun img {
    bottom:0;
    left:15%;
    width:70%;
  }
  #dayglo_clouds_bulk_one img {
    width:200%;
    max-width:none;
    top:0;
  }
  #dayglo_clouds_bulk_two img {
    width:200%;
    max-width:none;
    top:20%;
  }
  #dayglo_clouds_bulk_three img {
    width:200%;
    max-width:none;
    top:40%;
  }
  #dayglo_clouds_bulk_four img {
    width:200%;
    max-width:none;
    top:10%;
  }
  #dayglo_clouds_bulk_seven img {
    width:200%;
    max-width:none;
    top:30%;
  }
  #midnight_base img {
    width:100%;
    bottom:0;
    left:0;
  }
  #midnight_hill_three img {
    width:100%;
    bottom:0;
    left:0;
  }
  #midnight_hill_four img {
    width:100%;
    bottom:0;
    left:0;
  }
  #midnight_sun img {
    width:100%;
    max-width:100%;
    bottom:0;
    right:0;
  }
  #midnight_cloud_two img {
    bottom:50%;
  }
  #mother_hill_one img {
    bottom:0;
    left:0;
    width:100%;
  }
  #mother_hill_two img {
    bottom:55%;
    left:20%;
    width:80%;
    animation: mother_float 10s infinite;
  }
  #mother_hill_three img {
    bottom:30%;
    left:0;
    width:100%;
  }
  #mother_hill_four img {
    bottom:60%;
    left:0;
    width:100%;
  }
}

/* ==========================================================================
  General animations
   ========================================================================= */
@keyframes sun_shimmer {
  0% {
    box-shadow: 0 0 40px 6px $sun_colour, 0 0 150px 10px $sun_colour;
    background-color:$sun_colour;
  }
  25% {
    box-shadow: 0 0 40px 6px $sun_colour, 0 0 150px 70px $sun_colour;
    background-color:darken($sun_colour, 5%);
  }
  50% {
    box-shadow: 0 0 40px 6px $sun_colour, 0 0 150px 10px $sun_colour;
    background-color:$sun_colour;
  }
  75% {
    box-shadow: 0 0 40px 6px $sun_colour, 0 0 130px 50px $sun_colour;
    background-color:darken($sun_colour, 5%);
  }
  100% {
    box-shadow: 0 0 40px 6px $sun_colour, 0 0 150px 10px $sun_colour;
    background-color:$sun_colour;
  }
}
@keyframes longcloud_float {
  0% {
    left:0%;
  }
  100% {
    left:-50%;
  }
}
@keyframes float {
  0% {
    margin-left: 0vw;
  }
  50% {
    margin-left: -25vw;
  }
  100% {
    margin-left: 0vw;
  }
}
@keyframes float-reverse {
  0% {
    margin-right: 0vw;
  }
  50% {
    margin-right: -5vw;
  }
  100% {
    margin-right: 0vw;
  }
}
/* ==========================================================================
  World transition animation
   ========================================================================= */
.transition-start {
  overflow: hidden;
  body {
    overflow: hidden;
  }
  #the_cans {
    .row.target_parent {
      width:100%;
    }
    .can {
      display:none;
      &.target_parent {
        width:100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        padding:0;
      }
      .image {
        width:40%;
        padding:0 15px;
        margin-left:0;
        transition:margin 0.5s;
      }
      &:nth-child(1) .image {
        margin-left:1px;
      }
      &:nth-child(2) .image {
        margin-left:calc(75% / 2);
      }
      &:last-child .image {
        margin-left:75%;
      }
    }
  }
  #the_cans, #products {
    text-align: center;
    .world_info {
      opacity:1;
      width:60%;
      position:absolute;
      visibility: hidden;
      display: block;
    }
    .explore-button {
      display: none;
    }
  }
  *:not(.target_world):not(.target_parent):not(.world_info) {
    opacity:0 !important;
  }
}
.transition-move {
  #the_cans {
    .image {
      margin-left:0 !important;
    }
  }
  #products {
    .trade_info {
      display:none;
    }
  }
}
.transitioning {
  #the_cans, #products {
    .can.target_parent {
      .world_info {
        //We don't use display to avoid a "bug"
        position:static;
        visibility: visible;
        :first-child{
          opacity:1 !important;
          top:0;
        }
        :nth-child(2){
          opacity:1 !important;
          top:0;
        }
        :nth-child(3){
          opacity:1 !important;
          top:0;
        }
        .loading {
          opacity:1 !important;
          top:0;
        }
      }
    }
  }
}
/* ==========================================================================
  Color palettes
   ========================================================================= */
body {
  transition:background-color 0.5s, color 0.5s;
  &:not(.default) header {
    height:125vh;
    margin-top:-25vh;
    transform:translateY(25%);
    opacity:0;
    transition:transform $sunrise_timing, opacity 3s;
  }
}
body.sunrise:not(.default) {
  header {
    transform:translateY(0%);
    opacity:1;
  }
}
.js {
  html:not(.transition-start) body:not(.sunrise) {
    section, nav {
      opacity:0;
    }
  }
}
.js:not(.daytime) {
  html, body {
    overflow:hidden;
    height:100%;
    position: fixed;
    width:100%;
  }
}
.onpage {
  .crooked_logo {
    opacity:0;
    transition:opacity 2s ease-in;
  }
  .pace {
    display:none !important;
  }
}
body.sunrise {
  .crooked_logo {
    opacity:1;
    animation: logo_loaded 2s ease-in forwards;
  }
}
@keyframes logo_loaded {
  0% {
    position: fixed;
    top: 20vh;
    width: 30vw;
    left: 35%;
    transform: rotateY(0deg) translateX(0) translateY(0);
  }
  30% {
    position: fixed;
    top: 20vh;
    width: 30vw;
    left: 35%;
    transform: rotateY(0deg) translateX(0) translateY(2vh);
  }
  100% {
    position: fixed;
    top: 20vh;
    width: 10vw;
    left: 45%;
    transform: rotateY(1439deg) translateX(0) translateY(-20vh);
  }
}

body.default {
  background-color: #000000;
  color:white;
  main, footer, .ie11wrap {
    background-color: #000000;
  }
  .lede {
    color:rgb(135,199,160);
  }
}
header {
  background-color: rgba(101, 101, 101, 0);
}
body.default.sunrise {
  background-color: #000000;
  header {
    animation: sunrise_sky $sunrise_timing linear forwards;
  }
}
@keyframes sunrise_sky {
  0% {
    background-color: rgba(101, 101, 101, 0);
  }
  50% {
    background-color: rgba(101, 101, 101, 0.8);
  }
  75% {
    background-color: rgba(101, 101, 101, 1);
  }
  100% {
    background-color: rgba(117, 117, 117, 1);
  }
}

/*========================================================================= */

body.dayglo {
  background-color: rgba(42, 119, 161, 1);
  color:white;
  .lede {
    color:white
  }
  main, footer, .ie11wrap {
    background-color: rgba(42, 119, 161, 1);
  }
  header {
    background-color: rgba(42, 119, 161, 1);
  }
  #social {
    .post {
      border-color:#7fc8bd;
    }
  }
}

body.dayglo.sunrise {
  background-color: #7fc8bd;
  main, footer, .ie11wrap {
    background-color: #7fc8bd;
  }
}

/*========================================================================= */

body.midnight {
  background-color: $midnight-bg;
  color:white;
  .lede {
    color:rgba(253,107,13,1);
  }
  main, footer, .ie11wrap {
    background-color: darken($midnight-bg, 30%);
  }
  header {
    background-color: darken($midnight-bg, 30%);
    *:not(#midnight_base img):not(#midnight_sun img) {
      opacity:0;
      transition: opacity ($sunrise_timing / 4) ease-in;
    }
    #midnight_cloud_one img, #midnight_cloud_two img, #midnight_cloud_three img, #midnight_cloud_four img, #midnight_cloud_five img {
      transition-delay: ($sunrise_timing / 4);
    }
  }
  #social {
    .post {
      border-color:rgb(136,81,160);
    }
  }
}
body.midnight.sunrise {
  background-color: rgb(136,81,160);
  main, footer, .ie11wrap {
    background-color: rgb(136,81,160);
  }
  header {
    background-color: $midnight-bg;
    animation: midnight_sunrise $sunrise_timing linear forwards;
    *:not(#midnight_base img):not(#midnight_sun img) {
      opacity:1;
    }
  }
}
@keyframes midnight_sunrise {
  0% {
    background-color: darken($midnight-bg, 30%);
  }
  100% {
    background-color: $midnight-bg;
  }
}
@keyframes midnight_sunrise_opacity {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
@keyframes midnight_sunrise_intro_close {
  0% {
    margin-left:200vw;
  }
  100% {
    margin-left:0;
  }
}
@keyframes midnight_sunrise_intro {
  0% {
    margin-left:100vw;
  }
  100% {
    margin-left:0;
  }
}
@keyframes midnight_sunrise_zero {
  0% {
    margin-left:2vw;
  }
  100% {
    margin-left:0;
  }
}
@keyframes midnight_sunrise_one {
  0% {
    margin-left:4vw;
  }
  100% {
    margin-left:0;
  }
}
@keyframes midnight_sunrise_rest {
  0% {
    margin-left:6vw;
  }
  100% {
    margin-left:0;
  }
}

/*========================================================================= */
body.mother {
  background-color: #e73c50;
  color:white;
  .lede {
    color:#fec4cb;
  }
  main, footer, .ie11wrap {
    background-color: #8b1b3f;
  }
  header {
    background-color: #e73c50;
    position: relative;
    &::after {
      content: '';
      background-image:url('../img/worlds/mother/psuedo-divider.png');
      background-size:100% 100%;
      background-position:center center;
      position:absolute;
      bottom:0;
      width:100%;
      height:9.41vw;
      z-index:50;
    }
    #mother_mother img {
      transition: transform $sunrise_timing;
      transform: translate(45vw, -20vw);
    }
    #mother_hill_one img {
      transform-origin: 0vw 20vw;
    }
    #mother_hill_two img {
      transform-origin: -10vw 40vw;
    }
    #mother_hill_three img {
      transform-origin: -20vw 40vw;
    }
    #mother_hill_four img {
      transform-origin: 20vw 30vw;
    }
    #mother_person_one img, #mother_person_two img, #mother_person_three img, #mother_person_four img,
    #mother_person_five img, #mother_person_six img, #mother_person_seven img, #mother_person_eight img,
    #mother_person_nine img {
      transition: transform $sunrise_timing ease-out $sunrise_timing;
      transform: translate(-20vw, 25vw);
    }

  }
  #social {
    .post {
      border-color:#8b1b3f;
    }
  }
}
body.mother.sunrise {
  background-color: #8b1b3f;
  #mother_mother img {
    transform: translate(0,0);
  }
  #mother_person_one img, #mother_person_two img, #mother_person_three img, #mother_person_four img,
  #mother_person_five img, #mother_person_six img, #mother_person_seven img, #mother_person_eight img,
  #mother_person_nine img {
    transform: translate(0);
  }
}
