@import "reset";
@import "core";

$header-font: 'Fjalla One';

/* ==========================================================================
   Base typography, general styles
   ========================================================================== */
html {
  font-size:1.25em;
  max-width:100%;
}
body {
  background-color: rgb(46,45,44);
  color:white;
  font-family: 'Open Sans';
  font-size:20px;
  font-weight: 400;
  line-height: 1.45;
  margin:0;
  max-width:100%;
}

p {
  margin-bottom: 1.3em;
}
h1, h2, h3, h4, .h3, .h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
  font-family:$header-font;
  text-transform: uppercase;
}

h1 {
  font-size: 1.953em;
  margin-top: 0;
}
h2 {
  font-size: 1.953em;
}
h3, .h3 {
  font-size: 1.563em;
}
h4, .h4 {
  font-size: 1.25em;
}
h5 {
  font-size: 1.25em;
}
@media screen and (min-width: 576px) {
  h1 {
    font-size: 2.441em;
    margin-top: 0;
  }
  h2 {
    font-size: 1.953em;
  }
  h3, .h3 {
    font-size: 1.563em;
  }
  h4, .h4 {
    font-size: 1.25em;
  }
  h5 {
    font-size: 1.25em;
  }
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 3.052em;
    margin-top: 0;
  }
  h2 {
    font-size: 2.441em;
  }
  h3, .h3 {
    font-size: 1.953em;
  }
  h4, .h4 {
    font-size: 1.563em;
  }
  h5 {
    font-size: 1.25em;
  }
}

small, .font_small {
  font-size: 0.8em;
}

img {
  max-width:100%;
  height:auto;
}
table {
  text-align: left;
  border-collapse: collapse;
  font-size:0.8em;
  margin: 0 auto;
  td, th {
    border:1px solid white;
    padding:0.8em;
  }
  td:first-child {
    text-transform: uppercase;
    text-align: right;
  }
  h4 {
    margin:0;
  }
}
a {
  text-transform: uppercase;
  text-decoration: none;
  color:white;
  &:hover {
    color:#87c7a0;
  }
}
.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}
/* ==========================================================================
  Layout and design
   ========================================================================= */
nav {
  width:100%;
  max-width:100%;
  z-index:200;
  padding:0;
  margin:0;
  @media screen and (min-width: 767px) {
    background-color: black;
    transform:translateY(0);
    transition: transform 0.5s ease-out;
    padding:0.8rem 0;
    position: fixed;
    top:0;
  }
  &.hide {
    @media screen and (min-width: 767px) {
      transform:translateY(-100%);
    }
  }
  .container {
    margin:0 auto;
    flex-direction: column;
    justify-content: center;
    background-color:black;
    text-align: center;
    top:0;
    bottom:0;
    left:0;
    right:0;
    position: relative;
    opacity:0;
    display:none;
    @media screen and (max-width: 767px) {
      height:100vh;
      width:100vw;
      margin:0;
      padding:0;
    }
    @media screen and (min-width: 768px) {
      flex-direction: row;
      background-color: transparent;
      justify-content: space-between;
      display: flex;
      opacity:1;
    }
  }
  a {
    font-size:1.563rem;
    font-family:$header-font;
    @media screen and (min-width: 576px) {
      font-size:1rem;
    }
    @media screen and (min-width: 768px) {
      font-size:1.25rem;
      width: calc(45vw / 3);
    }
  }
  .fa {
    position:fixed;
    top:0;
    right:0;
    color:white;
    z-index:202;
    display: block;
    font-size:2em;
    padding:1em;
    cursor:pointer;
    @media screen and (min-width: 768px) {
      display:none;
    }
  }
  &.open {
    .container {
      z-index:201;
      display:flex;
      position: fixed;
      animation: mobile-menu 0.5s ease-in 0s both;
    }
    .fa::before {
      content:"\f00d";
    }
  }
}
.crooked_logo {
  position: fixed;
  top: 1em;
  left:1rem;
  width: 30vw;
  z-index:202;
  @media screen and (min-width: 768px) {
    opacity: 1;
    animation: none;
    z-index:34;
    position: absolute;
    height: 30vh;
    top: calc(3.2rem * 1.45);
    left: 50%;
    transform: translateX(-50%);
  }
}
@keyframes mobile-menu {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
header {
  height:100vh;
  width:100%;
  background-color:#656565;
  transform-origin: center 50%;
  max-width:100%;
  overflow:hidden;
}
.ie11wrap {
  text-align: center;
  position: relative;
  z-index:102;
  padding:0;
}
main {
    text-align: center;
    position: relative;
    z-index:101;
    section {
      padding-bottom:2rem;
    }
}
.explore-button {
  border:1px solid white;
  text-transform: uppercase;
  display: inline-block;
  padding:1rem;
  a {
    color:white;
    text-decoration: none;
  }
  span {
    font-weight:bold;
  }
}

#welcome {
  h2{
    font-size: 1.563em;
    position: relative;
  }
  p:first-of-type{
    margin-top:0;
  }
}
#welcome_main {
  h2{
    font-size: 1.563em;
    position: relative;
    margin-bottom:4rem;
    @media screen and (min-width: 576px) {
      font-size: 2.441em;
    }
    &:after {
      position:absolute;
      bottom:-3rem;
      left:0;
      width:100%;
      text-align: center;
      content: '-';
    }
  }
  p:first-of-type{
    font-size:1.25em;
    margin-top:0;
  }
}
.default {
  .introduction {
    @media screen and (min-width: 768px) {
      -moz-column-count: 2;
      -webkit-column-count: 2;
      column-count: 2;
      text-align:left;
    }
  }
}
body:not(.default) {
  #welcome_main {
    display:none;
  }
}

#social {
  i {
    font-size:1.563rem;
    padding:0.5rem;
  }
  .post {
    background-color:white;
    color:black;
    text-align: left;
    //Simulate a gutter
    border:0.5rem solid black;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    img {
      width:100%;
      object-fit: cover;
      padding-top:0.5em;
      &::after{
        content: '';
        background-color:black;
        position: absolute;
        left:0;
        bottom:0;
        height:0.125em;
        width:1em;
      }
    }
    p {
      position: relative;
      padding-bottom:0.5em;
    }
  }
}
#stockists {
  padding-bottom:6rem;
}
#wholesale, #stockists {
  .logo {
    margin-top:2rem;
  }
}
#products {
  .row {
    flex-direction: column;
    text-align: center;
    margin-bottom:3rem;
    align-items: center;
    @media screen and (min-width: 576px) {
      flex-direction: row;
      text-align: left;
      &:nth-of-type(odd) {
        text-align: right;
        flex-direction: row-reverse;
      }
    }
  }
  .explore-button {
    text-align: center;
  }
}

#contact {
  label {
    text-align: left;
    @media screen and (min-width: 576px) {
      text-align:right;
    }
  }
  input:not([type=submit]), textarea {
    width:100%;
    background-color:transparent;
    border:2px white solid;
    padding: 0.5em;
    color: white;
    margin:0;
  }
  input[type=submit] {
    background-color:transparent;
    border:2px white solid;
    padding: 0.5em;
    color: white;
    align-self:flex-end;
  }
}

#the_cans {
  .can {
    display: flex;
    flex-direction: row;
    margin: 0 15px 30px;
    justify-content: space-around;
    align-items: center;
    &:nth-child(even) {
      flex-direction: row-reverse;
    }
    @media screen and (min-width: 576px) {
      display: block;
      margin:0;
      &:nth-child(even) {
        flex-direction: row;
      }
    }
    img {
      transform: translateX(0) translateY(0);
      left:0;
      top:0;
      width:100%;
      position:relative;
    }
  }
  .image {
    flex-basis:40%;
    @media screen and (min-width: 576px) {
      flex-basis:auto;
    }
  }
  .explore-button {
    flex-basis:40%;
    @media screen and (min-width: 576px) {
      flex-basis:auto;
      margin-top:1rem;
    }
  }
}
#the_cans, #products {
  .world_info {
    display:none;
    opacity:0;
    padding:0 15px;
    text-align: center;
    transition:opacity 1s;
    p, h3 {
      margin:0 auto;
      width:50%;
    }
    :first-child {
      top:1.5rem;
      opacity:0;
      position: relative;
      transition:all 1s linear 0s;
    }
    :nth-child(2) {
      top:1.5rem;
      opacity:0;
      position: relative;
      transition:all 1s linear 0.5s;
    }
    :nth-child(3) {
      top:1.5rem;
      opacity:0;
      position: relative;
      transition:all 1s linear 0.75s;
    }
    .loading {
      top:1.5rem;
      margin-top:2em;
      opacity:0;
      position: relative;
      transition:all 1s linear 1.25s;
    }
  }
}
footer {
  display:flex;
  flex-direction: row;
  align-items: center;
  font-family:$header-font;
  letter-spacing: 0.1em;
  z-index: 101;
  overflow-x:hi dden;
  .row {
    width:100vw;
  }
  .footer-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-grow: 1;;
    justify-content: space-between;
    //Special breakpoint for footer
    @media screen and (min-width: 1570px) {
      width:initial;
      justify-content:center;
    }
    &:first-of-type{
      flex-grow: 2;
      text-align: center;
      flex-direction: column;
    }
    @media screen and (min-width: 576px) {
      &:first-of-type{
        flex-direction: row;
      }
    }
    @media screen and (min-width: 1570px) {
      &:first-of-type{
        justify-content: flex-start;
        text-align: left;
      }
      &:last-of-type{
        justify-content: flex-end;
      }
    }
  }
  a {
    text-decoration: none;
    color:white;
  }
  h3 {
    margin:0.5rem 0 0;
    @media screen and (min-width: 576px) {
      margin:0.5rem 0.5rem 0.5rem 0;
    }
    @media screen and (min-width: 1570px) {
      padding-right:0.5em;
    }
  }
  .footer-copy {
    font-size:0.64em;
    text-align:right;
    @media screen and (min-width: 992px) {
      text-align: left;
    }
    span {
      width:100%;
      display: block;
    }
  }
  @media screen and (min-width: 992px) and (max-width: 1569px){
    .footer-box {
      &:first-child{
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        h3 {
          width:100%;
        }
      }
      &:nth-child(2){
        justify-content: flex-start;
      }
      &:nth-child(3){
        justify-content: flex-start;
        flex-direction: row-reverse;
        h3 {
          margin:0.5rem 0 0.5rem 0.5rem;
        }
        .footer-copy {
          text-align: right;
        }
      }
      &:last-child{
        h3 {
          display:none;
        }
        .footer-copy {
          width:100%;
        }
        span {
          width:50%;
          display:inline;
          &:last-child{
            float:right;
            text-align: right;
          }
        }
      }
    }
  }
  i {
    margin-left: 1rem;
    @media screen and (min-width: 1570px) {
      &:first-of-type{
        margin-left:0;
      }
    }
  }
  .email a::after {
    content: 'Email us';
    position:relative;
    @media screen and (min-width: 576px) {
      content: 'hello@crookedbeverageco.com';
    }
  }
}

/* ==========================================================================
  World work
  Z index:
  - Sky shadows: 10 to 14
  - Sun: 15
  - Clouds: 15 to 30
  - Ground: 30+
   ========================================================================= */
header {
  overflow:hidden;
  z-index: 99;
  position: relative;
  max-width:100%;
  img {
      position: absolute;
  }
  .parallax {
    will-change: transform;
  }
}
.sprite {
  display: block;
  width:100vw;
  height:75vw;
  position: absolute;
  animation: sprite 0.3s steps(15) infinite;
}
@keyframes sprite {
  100% {
    background-position: -15000px;
  }
}

$sun_colour: #b9b9b9;
$sunrise_timing: 5s;
#sun img {
  left:35vw;
  bottom:0;
  transform:translateY(100%);
  width:30vw;
  z-index:15;
  border-radius: 50%;
  box-shadow: 0 0 40px 6px $sun_colour, 0 0 150px 90px $sun_colour;
  background-color: $sun_colour;
  opacity:0;
  transition: transform $sunrise_timing, opacity 0.5s linear 0.5s;
}
.sunrise {
  #sun img {
    transform:translateY(0%);
    opacity:1;
    box-shadow: 0 0 40px 6px $sun_colour, 0 0 150px 20px $sun_colour;
    animation: sun_shimmer 30s infinite;
  }
}

.daytime {
  #sun img {
    transition: opacity 0.5s linear 0.5s;
  }
}

.shadow img {
  position: fixed;
  z-index:11;
}
#skyshadow_one img {
  top:0%;
  left:0;
  min-width: 100%;
}
#skyshadow_two img {
  top:35%;
  right:0;
}
#skyshadow_three img {
  top:560%;
  left:0;
}
@mixin cloud($offset: 1) {
  position: fixed;
  z-index:13;
  @if even($offset) == true {
    animation:float_cloud 20s infinite ($offset * -1s);
  } else {
    animation:float_cloud_alt 20s infinite ($offset * -1s);
  }
}

@function even($number) {
  @return $number % 2 == 0;
}

#cloud_one img {
  @include cloud(7);
  top:20%;
  right:-20px;
}
#cloud_two img {
  @include cloud(3);
  top:40%;
  left:10px;
}
#cloud_three img {
  @include cloud(5);
  top:30%;
  left:-60px;
}
#cloud_four img {
  @include cloud(4);
  top:25%;
  left:-90px;
}
#cloud_five img {
  @include cloud(10);
  top:10%;
  right:-40px;
}
#cloud_six img {
  @include cloud(5);
  top:30%;
  right:-40px;
}
#cloud_seven img {
  @include cloud(4);
  top:35%;
  right:-90px;
}
#cloud_eight img {
  @include cloud(11);
  top:40%;
  right:0%;
}
#cloud_nine img {
  @include cloud(13);
  top:55%;
  left:10%;
}
@keyframes float_cloud {
  0% {
    margin-left:0px;
  }
  40% {
    margin-left:60px;
  }
  80% {
    margin-left:-40px;
  }
  100% {
    margin-left:0px;
  }
}
@keyframes float_cloud-alt {
  0% {
    transform: translate3d(0,0,0);
  }
  40% {
    transform: translate3d(-35px,0,0);
  }
  80% {
    transform: translate3d(40px,0,0);
  }
  100% {
    transform: translate3d(0,0,0);
  }
}
.terrain img {
  position:absolute;
  bottom:0;
  left:0;
  width:100%;
  transform:scale(1) translateY(0%);
  transition:transform 2.4s linear;
  pointer-events: none;
}
#hill_one img {
  z-index:36;
  transition-delay: 2.5s;
  bottom:-1px;
}
#hill_two img {
  z-index:35;
  transition-delay: 2.1s;
}
#hill_three img {
  z-index:33;
  transition-delay: 1.7s;
}
#hill_four img {
  z-index:32;
  transition-delay: 1.3s;
}
#hill_five img {
  z-index:31;
  transition-delay: 0.9s;
}
#hill_six img {
  z-index:13;
  transition-delay: 0.5s;
}
.daytime {
  .terrain img {
    transition:none;
  }
}
body:not(.sunrise) {
  .terrain img {
    transform:scale(2) translateY(100%);
  }
}

/* ==========================================================================
  Cans and transition elements
   ========================================================================= */
.can_container {
  width:100%;
  left:0;
  @media screen and (min-width: 576px) {
    width:80vw;
    left:10vw;
  }
  position: absolute;
  bottom:0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  z-index:35;
  transform:translate3d(0,0,0);
  img {
    position: relative;
    pointer-events: none;
    cursor:default;
  }
}
.can_tooltip {
  opacity:1;
  transition: opacity 0.3s;
  width:30vw;
  @media screen and (min-width: 576px) {
    width:20vw;
  }
  @media screen and (min-width: 992px) {
    width:15vw;
  }
  &:nth-child(1) {
    padding-left:0;
  }
  a {
    position: absolute;
    content: '';
    top:-160px;
    width:80px;
    height:80px;
    border:1px solid transparent;
    border-radius: 80px;
    display: block;
    animation: eye_float 30s infinite ease-in-out;
    transition:top 1s;
    z-index:36;
    &::after {
      content: '';
      position: absolute;
      height:100%;
      width:100%;
      background-image: url('../img/misc/button_eye.png');
      background-position:center center;
      background-size:66%;
      background-repeat: no-repeat;
      left: 0;
      top: 0;
    }
  }
  &:nth-child(1) a {
    background-color:#1675a9;
    animation-delay: 0;
  }
  &:nth-child(2) a {
    background-color:#87319a;
    animation-delay: -10s;
  }
  &:nth-child(3) a {
    background-color:#e73c50;
    animation-delay: -20s;
  }
  &:hover {
    a {
      top:-240px;
    }
  }
  &.hover {
    a {
      top:-80px;
    }
  }
  .stalk {
    border:5px dashed black;
    transition:all 0.1s;
  }
  &:nth-child(1) .stalk {
    border-color:#1675a9;
  }
  &:nth-child(2) .stalk {
    border-color:#87319a;
  }
  &:nth-child(3) .stalk {
    border-color:#e73c50;
  }
}
#cans_main {
  display: none;
}
body:not(.default) {
  #cans_main {
    display:flex;
    justify-content: space-around;
    position: relative;
    padding-top:calc(9rem * 1.45);
    img {
      width:100%;
    }
  }
}
body.dayglo {
  #dayglo_slot {
    display: none;
  }
}
body.mother {
  #mother_slot {
    display: none;
  }
}
body.midnight {
  #midnight_slot {
    display: none;
  }
}
@keyframes eye_float {
  0% {
    transform: translate3d(0,0,0);
  }
  30% {
    transform: translate3d(20px,10px,5px);
  }
  40% {
    transform: translate3d(30px,9px,9px);
  }
  80% {
    transform: translate3d(-15px,3px,0px);
  }
  90% {
    transform: translate3d(9px,10px,-3px);
  }
  100% {
    transform: translate3d(0,0,0);
  }
}

//We've clicked an eye, hide the world
.transition-stage-pre {
  header img, nav {
    transition:opacity 0.1s linear 0.9s !important;
  }
  .can_tooltip {
    //We add a target class when the animation kicks off, so prepare here
    a {
      transition: all 1s ease-out;
      transform: perspective(100px) translate3d(0,0,0);
      &::after {
        transition: opacity 0.3s linear 0.6s;
      }
    }
  }
}
.transition-stage-1 {
  overflow-x: hidden;
  }
  body {
    overflow-x: hidden;
    position: relative
  }
  header img, nav, #welcome {
    opacity:0;
    animation-delay:none !important;
    animation-duration: none !important;
  }
  .can_tooltip {
    a.target {
      cursor:default;
      animation: background_grow 1s forwards ease-out;
      &::after {
        opacity:0;
      }
    }
  }
}
.transition-stage-2 {
  #overlays {
    :nth-child(1) img, :nth-child(2) img {
      transition:none !important;
      animation:overlay_enter 1s ease-in-out forwards !important;
    }
    :nth-child(3) {
      transition:none !important;
      animation:overlay_enter 2s ease-in-out forwards 0.5s !important;
    }
  }
  .shadow img {
    transition:none !important;
    animation:element_enter 1s ease-in-out forwards 2.5s !important;
  }
  .cloud img {
    transition:none !important;
    animation:element_enter 1s ease-in-out forwards 3s !important;
  }
  header picture:not(.cloud):not(.shadow) img, header > img {
    transition:none !important;
    animation:element_enter 1s ease-in-out forwards 4s !important;
  }
  nav {
    transition:none !important;
    animation:nav_enter 1s ease-in-out forwards 4s !important;
  }
}
@keyframes background_grow {
  0% {
    border-radius:80px;
    transform: perspective(100px) translate3d(0,0,0);
  }
  60% {
    border-radius:80px;
    transform: perspective(100px) translate3d(0,0,-50px);
    z-index:300;
  }
  99% {
    border-radius:80px;
    transform: perspective(100px) translate3d(0,0,99px);
    z-index:300;
  }
  100% {
    border-radius:0px;
    transform: perspective(100px) translate3d(0,0,99px);
    z-index:300;
  }
}
@keyframes overlay_enter {
  0% {
    opacity:0;
    transform: translateY(50%);
  }
  100% {
    opacity:1;
    transform: translateY(0%);
  }
}
@keyframes element_enter {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
@keyframes nav_enter {
  0% {
    opacity:0;
    transform: translateY(-100%);
  }
  100% {
    opacity:1;
    transform: translateY(0%);
  }
}
/* ==========================================================================
  Dayglo skies elements
   ========================================================================= */
$sun_colour_dayglo: #e84079;
#moon img {
  left:35%;
  bottom:40vh;
  width:30%;
  z-index:15;
}
.float img {
  animation: float_bob 3s infinite ease-in-out;
}
#heads img {
  right:0;
  bottom:10vh;
  width:45vw;
  z-index:40;
}
#fruit_one img {
  left:40vw;
  bottom:10vh;
  z-index:41;
  max-width:20vw;
  animation-delay: -1.5s;
  animation-duration: 2.5s;
}
#fruit_two img {
  left:35%;
  bottom:30vh;
  z-index:34;
  max-width:10vw;
  animation-duration: 5s;
}
.dayglo {
  #moon img {
    border-radius: 50%;
    box-shadow: 0 0 40px 6px $sun_colour_dayglo, 0 0 150px 90px $sun_colour_dayglo;
    background-color: $sun_colour_dayglo;
    animation: sun_shimmer_dayglo 30s infinite;
  }
  #skyshadow_one img {
    top: 5vh;
  }
  #cloud_two img {
    left:0%;
    top:45%;
  }
  #cloud_three img {
    right:0;
    left:auto;
    top:45%;
  }
  #cloud_seven img {
    top: 35%;
    left: 10%;
  }
  #cloud_four img {
    right:-40px;
    left:auto;
    animation-delay: -1.5s;
    top:10%;
  }
  #cloud_one img, #cloud_six img {
    left:0;
    right:auto;
  }
  #cloud_five img {
    left:-60px;
    right:auto;
  }
  #overlays {
    z-index:14;
  }
}



@keyframes float_bob{
    from {
      transform:translate(0, 0px);
    }
    65% {
      transform:translate(0, 15px);
    }
    to {
      transform: translate(0, -0px);
    }
}
@keyframes sun_shimmer_dayglo {
  0% {
    box-shadow: 0 0 40px 6px $sun_colour_dayglo, 0 0 150px 10px $sun_colour_dayglo;
    background-color:$sun_colour_dayglo;
  }
  25% {
    box-shadow: 0 0 40px 6px $sun_colour_dayglo, 0 0 150px 70px $sun_colour_dayglo;
    background-color:darken($sun_colour_dayglo, 5%);
  }
  50% {
    box-shadow: 0 0 40px 6px $sun_colour_dayglo, 0 0 150px 10px $sun_colour_dayglo;
    background-color:$sun_colour_dayglo;
  }
  75% {
    box-shadow: 0 0 40px 6px $sun_colour_dayglo, 0 0 130px 50px $sun_colour_dayglo;
    background-color:darken($sun_colour_dayglo, 5%);
  }
  100% {
    box-shadow: 0 0 40px 6px $sun_colour_dayglo, 0 0 150px 10px $sun_colour_dayglo;
    background-color:$sun_colour_dayglo;
  }
}
.world_can {
  left:15vw;
  bottom:10vh;
  width:18vw;
  z-index:44;
}
#overlays {
  z-index: 34;
  position: fixed;
  top: -35vh;
  left: 0;
  width:100%;
  text-align: center;
  img {
    margin: 0 auto 1em;
    text-align: center;
    display: block;
    position: relative;
  }
  h2 {
    margin-top:0.5em;
  }
}
#text_one img {
  bottom: 70vh;
  left: 15vw;
  z-index: 80;
}
#text_two img {
  bottom: 15vw;
  left: 3vw;
  z-index: 81;
}

/* ==========================================================================
  Midnight Stage elements
   ========================================================================= */
$midnight-bg: rgba(135,49,154,1);
$horizon-base-ratio: ((100vw / 240) * 37);
$horizon-ratio: $horizon-base-ratio - ($horizon-base-ratio / 10);

.midnight {
  #hill_one img {
    width:100vw;
    left:0vw;
  }
  #hill_two img {
    width:100vw;
    bottom:23vw;
  }
  //Left hand clouds
  #cloud_one img {
    left:0px;
    right:auto;
  }
  #cloud_five img {
    left:-60px;
    right:auto;
  }
  #cloud_seven img {
    left:0;
    top:80vh;
    right:auto;
  }
  //Right hand clouds
  #cloud_two img {
    left:auto;
    right:0;
  }
  #cloud_three img {
    left:auto;
    right:0;
  }
  #cloud_four img {
    left:auto;
    top:75vh;
    right:0;
  }
  #cloud_six img {
    left:auto;
    top:90vh;
    right:0;
  }
  #cloud_eight img {
    left:auto;
    top:20vh;
    right:0;
  }
  #overlays {
    z-index:14;
  }
}


/* ==========================================================================
  Mother Moon
   ========================================================================= */
.mother {
  .shadow img {
    width:100%;
  }
  #hill_one img {
    width:50vw;
  }
  #hill_two img {
    width:30vw;
  }
  #hill_three img {
    width:100vw;
  }
  #hill_four img {
    width:100vw;
  }
  #hill_five img {
    width:70vw;
  }
  #moon img {
    left: 60vw;
    bottom: 40vh;
  }
  #mother img {
    width: 50vw;
    left: 40vw;
    bottom: 20vw;
    z-index: 70;
  }
  #skyshadow_one img {
    left:auto;
    right:0;
  }
  #skyshadow_four img {
    width:100%;
  }
  #skyshadow_five img {
    width:100%;
    top:0;
  }
  #overlays {
    z-index:31;
  }
}

/* ==========================================================================
  Portrait variants
   ========================================================================= */
@media all and (orientation: portrait) {
  header {
    height:100vh !important;
    border-top:none !important;
  }
  #overlays {
    left:0;
    top: auto !important;
    bottom: calc(-20vh - 0em);
    height: 20vh;
    padding: 0 2em 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    #welcome {
      display:none;
    }
  }
  #sky img {
    height:70vh;
    top:0;
    left:0;
    min-width:100vw;
  }
  .dayglo {
    header {
      border-bottom:20vh solid #7fc8bd;
    }
    #overlays {
      flex-direction: column;
    }
  }
  .mother {
    header {
      border-bottom:20vh solid #e73c50;
    }
    #hill_one img, #hill_three img, #hill_four img, #hill_five img {
      width:100%;
    }
    #hill_two img {
      width:50%;
    }
    #moon img {
      left: 45vw;
      width: 40vw;
      bottom: 50vh;
    }
    #mother img {
      width:80vw;
      right:0;
      left:auto;
      bottom:60vw;
    }
  }
  .midnight {
    header {
      border-bottom:20vh solid #87319a;
    }
    #moon img {
      width:70%;
      left:15%;
      bottom:20vw;
    }
  }
  .world_can {
    display: none;
  }
}
/* ==========================================================================
  General animations
   ========================================================================= */
@keyframes sun_shimmer {
  0% {
    box-shadow: 0 0 40px 6px $sun_colour, 0 0 150px 10px $sun_colour;
    background-color:$sun_colour;
  }
  25% {
    box-shadow: 0 0 40px 6px $sun_colour, 0 0 150px 70px $sun_colour;
    background-color:darken($sun_colour, 5%);
  }
  50% {
    box-shadow: 0 0 40px 6px $sun_colour, 0 0 150px 10px $sun_colour;
    background-color:$sun_colour;
  }
  75% {
    box-shadow: 0 0 40px 6px $sun_colour, 0 0 130px 50px $sun_colour;
    background-color:darken($sun_colour, 5%);
  }
  100% {
    box-shadow: 0 0 40px 6px $sun_colour, 0 0 150px 10px $sun_colour;
    background-color:$sun_colour;
  }
}
@keyframes longcloud_float {
  0% {
    left:0%;
  }
  100% {
    left:-50%;
  }
}
@keyframes float {
  0% {
    margin-left: 0vw;
  }
  50% {
    margin-left: -25vw;
  }
  100% {
    margin-left: 0vw;
  }
}
@keyframes float-reverse {
  0% {
    margin-right: 0vw;
  }
  50% {
    margin-right: -5vw;
  }
  100% {
    margin-right: 0vw;
  }
}
/* ==========================================================================
  Color palettes
   ========================================================================= */
body {
  transition:background-color 0.5s, color 0.5s;
  &:not(.default) header {
    height:125vh;
    opacity:0;
    transition:transform $sunrise_timing, opacity 3s;
    overflow:visible;
  }
}
body.sunrise:not(.default) {
  header {
    transform:translateY(0%);
    opacity:1;
  }
}
.js {
  html:not(.transition-start) body:not(.sunrise) {
    section, nav {
      opacity:0;
    }
  }
}
.daytime body {
  header {
    transition:opacity 0.5s;
  }
}
.js:not(.daytime) {
  html, body {
    overflow:hidden;
    height:100%;
    position: fixed;
    width:100%;
  }
}
.onpage {
  .pace {
    display:none !important;
  }
}
@keyframes logo_loaded {
  0% {
    position: fixed;
    top: 20vh;
    width: 30vw;
    left: 35%;
    transform: rotateY(0deg) translateX(0) translateY(0);
  }
  30% {
    position: fixed;
    top: 20vh;
    width: 30vw;
    left: 35%;
    transform: rotateY(0deg) translateX(0) translateY(2vh);
  }
  100% {
    position: fixed;
    top: 20vh;
    width: 10vw;
    left: 45%;
    transform: rotateY(1439deg) translateX(0) translateY(-20vh);
  }
}

body.default {
  background-color: #0b0b0b;
  color:white;
  main, footer, .ie11wrap {
    background-color: #0b0b0b;
  }
  .lede {
    color:rgb(135,199,160);
  }
}
header {
  background-color: rgba(101, 101, 101, 0);
}
body.default.sunrise {
  background-color: #000000;
  header {
    animation: sunrise_sky $sunrise_timing linear forwards;
  }
}
@keyframes sunrise_sky {
  0% {
    background-color: rgba(101, 101, 101, 0);
  }
  50% {
    background-color: rgba(101, 101, 101, 0.8);
  }
  75% {
    background-color: rgba(101, 101, 101, 1);
  }
  100% {
    background-color: rgba(117, 117, 117, 1);
  }
}

/*========================================================================= */

body.dayglo {
  background-color: rgba(42, 119, 161, 1);
  color:white;
  .lede {
    color:white
  }
  main, footer, .ie11wrap {
    background-color: rgba(42, 119, 161, 1);
  }
  header {
    background-color: rgba(42, 119, 161, 1);
  }
  #social {
    .post {
      border-color:#7fc8bd;
    }
  }
}

body.dayglo.sunrise {
  background-color: #7fc8bd;
  main, footer, .ie11wrap {
    background-color: #7fc8bd;
  }
}

/*========================================================================= */
$midnight-bg: #87319a;
body.midnight {
  background-color: $midnight-bg;
  color:white;
  .lede {
    color:rgba(253,107,13,1);
  }
  main, footer, .ie11wrap {
    background-color: darken($midnight-bg, 30%);
  }
  header {
    background-color: darken($midnight-bg, 30%);
    *:not(#midnight_base img):not(#midnight_sun img) {
      opacity:0;
      transition: opacity ($sunrise_timing / 4) ease-in;
    }
    #midnight_cloud_one img, #midnight_cloud_two img, #midnight_cloud_three img, #midnight_cloud_four img, #midnight_cloud_five img {
      transition-delay: ($sunrise_timing / 4);
    }
  }
  #social {
    .post {
      border-color:#87319a;
    }
  }
}
body.midnight.sunrise {
  background-color: #87319a;
  main, footer, .ie11wrap {
    background-color: #87319a;
  }
  header {
    background-color: $midnight-bg;
    animation: midnight_sunrise $sunrise_timing linear forwards;
    *:not(#midnight_base img):not(#midnight_sun img) {
      opacity:1;
    }
  }
}
@keyframes midnight_sunrise {
  0% {
    background-color: darken($midnight-bg, 30%);
  }
  100% {
    background-color: $midnight-bg;
  }
}

/*========================================================================= */
body.mother {
  background-color: #e73c50;
  color:white;
  .lede {
    color:#fec4cb;
  }
  main, footer, .ie11wrap {
    background-color: #e73c50;
  }
  header {
    background-color: #e73c50;
    position: relative;
    &::after {
      content: '';
    //  background-image:url('../img/worlds/mother/psuedo-divider.png');
      background-size:100% 100%;
      background-position:center center;
      position:absolute;
      bottom:0;
      width:100%;
      height:9.41vw;
      z-index:50;
    }
    #mother_mother img {
      transition: transform $sunrise_timing;
      transform: translate(45vw, -20vw);
    }
    #mother_hill_one img {
      transform-origin: 0vw 20vw;
    }
    #mother_hill_two img {
      transform-origin: -10vw 40vw;
    }
    #mother_hill_three img {
      transform-origin: -20vw 40vw;
    }
    #mother_hill_four img {
      transform-origin: 20vw 30vw;
    }
  }
  #social {
    .post {
      border-color:#e73c50;
    }
  }
}

@keyframes person_jump {
  0% {
    transform:translateY(0vw);
  }
  4% {
    transform:translateY(0vw);
  }
  5% {
    transform:translateY(1vw);
  }
  6% {
    transform:translateY(0vw);
  }
  64% {
    transform:translateY(0vw);
  }
  65% {
    transform:translateY(1vw);
  }
  66% {
    transform:translateY(0vw);
  }
  100% {
    transform:translateY(0vw);
  }
}

///Browser specific fixes

@supports not (object-fit:cover){
  #social .post {
    display: table;
  }
}
@media all and (-ms-high-contrast:none) {
  #social .post {
    display: table;
  }
  #contact input:not([type=submit]), #contact textarea {
    overflow:hidden;
  }
  #header > picture, #header > div {
    border-top:inherit;
  }
}

@media screen and (-ms-high-contrast:none) and (min-width: 1570px){
  footer .footer-box {
    flex: 1 1 22%;
    min-width:0%;
  }
}
